/*------------------------------------------------------------------
[Stylesheet]
Color Palette
-------------------------------------------------------------------*/

.btn,
.btn-large {
	background-color: #2C3E50;
}

.btn:hover,
.btn-large:hover {
	background-color: #1f2c4a;
}

a {
	color:#1f2c4a;
}
